body {
    background: #07162f;
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
    float: left;
    background: #050d1f;
    border-radius: 30px;
    margin: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo img {
    width: 100px;
    border-radius: 50%;
}
nav ul {
    list-style: none;
}
nav ul li {
    margin-bottom: 8px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 10vh;
    border-radius: 14px;
    transition: .3s;
    font-size: 17px;
}
nav ul li:hover {
    background: rgba(2, 57, 106, 0.845);
    color: #33aaff;
    border-radius: 14px;;
}
nav ul li:active a {
    background: linear-gradient(90deg, rgba(37,99,235,.9), rgba(59,130,246,.3));
}

.right-by {
    color: white;
    margin: 1px;
    text-align: center
}

.copy-by {
    color: white;
    padding-bottom: 2px;
    text-align: center;
}
h4 {
    margin-top: 0px;
    color: white;
    text-align: center;
    font-size: 4vh;
    margin-bottom: 8px;
    overflow: hidden;
}
.social-icons a {
    color: #2ea3ec;
    font-size: 110%;
    text-decoration: none;
    padding: 5px;
    gap: 30px;
    flex-direction: row;
    transition: .3s;
    margin: 1.5vh;
    justify-content: center;
    flex-shrink: space-around;
    overflow:hidden;
}
.social-icons a:hover .fa-github{
    color: white;
    font-size: 130%;
}
.social-icons a:hover .fa-linkedin{
    color: white;
    font-size: 130%;
}
.social-icons a:hover .fa-x{
    color: white;
    font-size: 130%;
}
.social-icons a:hover .fa-google{
    color: white;
    font-size: 130%;
}
.hero{
    width: 80%;
    height: 100vh;
    float: right;
    background: #050d1f;
    border-radius: 30px;
    margin: 15px 15px 15px 1px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header .online {
    color: rgb(21, 226, 21);
    margin-right: 2px;
}
.header b {
    color: white;
    overflow: hidden;
}
.cv-download {
    padding: 10px;
    margin:4px;
    float: right;
    color: white;
    font-weight: bold;
    height:15px;
    width:120px;
    background: linear-gradient(270deg,rgb(8, 8, 87),rgb(12, 25, 98),rgb(2, 7, 44));
    border-radius: 15px;
    transition: 3ms;
}
.cv-download:hover {
    background: linear-gradient(0deg, rgb(8, 8, 87),rgb(12, 25, 98),rgb(2, 7, 44));
    cursor: pointer;
}
.cv-download .fa-download {
    color:#2ea3ec
}
.cv-download:active {
    background: linear-gradient(270deg,rgb(8, 8, 87),rgb(12, 25, 98),rgb(2, 7, 44));
}